{% extends 'layout_page.twig' %}

{% set page = 'branches' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: breadcrumbs} %}

    {% if branchesDetail|length <= 0 %}
        <div class="alert alert-error">No unmerged branches found.</div>
    {% else %}
        <table class="table table-striped branch-list">
            {% for name, branchDetail in branchesDetail %}
                <tr>
                    <td>
                        <h3><a href="{{ baseurl }}/{{ repo }}/tree/{{ name }}">{{ name }}</a></h3>
                        <a href="{{ baseurl }}/{{ repo }}/commit/{{ branchDetail.getHash }}">{{ branchDetail.getHash }}</a>
                        {{ branchDetail.getLastMsg }}
                    </td>
                    <td class="stats">
                        {% if branchDetail.getBehind %}{{ branchDetail.getBehind }} behind |{% endif %}
                        {% if branchDetail.getAhead %}{{ branchDetail.getAhead }} ahead{% endif %}
                    </td>
                    <td class="compare"><span class="pull-right"><a class="btn btn-small" href="{{ baseurl }}/{{ repo }}/compare/{{ branch }}...{{ name }}"><i class="icon-list-alt"></i> Compare</a></span></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <hr>
{% endblock %}
