{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">
    <div class="row">
        <div class="span12">
            {% include 'branch_menu.twig' %}
            {% include 'menu.twig' %}
        </div>
    </div>

    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li{% if loop.last %} class="active"{% endif %}>{% if not loop.last %}<a href="{{ baseurl }}{{ breadcrumb.path }}">{{ breadcrumb.dir }}</a>{% endif %}{% if loop.last %}{{ breadcrumb.dir }}{% endif %}
        {%- if not loop.last -%}
            <span class="divider">/</span></li>
        {%- else -%}
            </li>
        {%- endif -%}
        {% endfor %}
    </ul>

    <div class="source-view">
        <div class="source-header">
            <div class="meta"></div>

            <div class="btn-group pull-right">
                <a href="{{ baseurl }}/{{ repo }}/raw/{{ branch }}/{{ file }}" class="btn btn-small"><i class="icon-file"></i> Raw</a>
                <a href="{{ baseurl }}/{{ repo }}/blame/{{ branch }}/{{ file }}" class="btn btn-small"><i class="icon-bullhorn"></i> Blame</a>
                <a href="{{ baseurl }}/{{ repo }}/commits/{{ branch }}/{{ file }}" class="btn btn-small"><i class="icon-list-alt"></i> History</a>
            </div>
        </div>
        {% if fileType == 'image' %}
        <center><img src="{{ baseurl }}/{{ repo }}/raw/{{ branch }}/{{ file }}" alt="{{ file }}" class="image-blob" /></center>
        {% else %}
        <textarea id="sourcecode" language="{{ fileType }}" readonly="readonly">{{ blob }}</textarea>
        {% endif %}
    </div>

    <hr>

    {% include 'footer.twig' %}
</div>
{% endblock %}
