{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">
    <div class="row">
        <div class="span12">
            {% include 'branch_menu.twig' %}
            {% include 'menu.twig' %}
        </div>
    </div>

    <ul class="breadcrumb">
        <li><a href="{{ path('repository', {repo: repo}) }}">{{ repo }}</a></li>
        {% for breadcrumb in breadcrumbs %}
        <span class="divider">/</span>
        <li{% if loop.last %} class="active"{% endif %}>{% if not loop.last %}<a href="{{ path('tree_dir', {repo: repo, branch: branch, tree: breadcrumb.path}) }}">{{ breadcrumb.dir }}</a>{% endif %}{% if loop.last %}{{ breadcrumb.dir }}{% endif %}</li>
        {% endfor %}
    </ul>

    <div class="source-view">
        <div class="source-header">
            <div class="meta"></div>

            <div class="btn-group pull-right">
                <a href="{{ path('blob_raw', {repo: repo, branch: branch, file: file}) }}" class="btn btn-small"><i class="icon-file"></i> Raw</a>
                <a href="{{ path('blame', {repo: repo, branch: branch, file: file}) }}" class="btn btn-small"><i class="icon-bullhorn"></i> Blame</a>
                <a href="{{ path('commits', {repo: repo, branch: branch, file: file}) }}" class="btn btn-small"><i class="icon-list-alt"></i> History</a>
            </div>
        </div>
        {% if fileType == 'image' %}
        <center><img src="{{ path('blob_raw', {repo: repo, branch: branch, file: file}) }}" alt="{{ file }}" class="image-blob" /></center>
        {% else %}
        <pre id="sourcecode" language="{{ fileType }}">{{ blob }}</pre>
        {% endif %}
    </div>

    <hr>

    {% include 'footer.twig' %}
</div>
{% endblock %}
