{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

    {% for repository in repositories %}
    <div class="repository">
        <div class="repository-header">
            <i class="icon-folder-open icon-spaced"></i> <a href="{{ baseurl }}/{{ repository.name }}">{{ repository.name }}</a>
            <a href="{{ baseurl }}/{{ repository.name }}/master/rss/"><i class="rss pull-right"></i></a>
        </div>
        <div class="repository-body">
            <p>{{ repository.description }}</p>
        </div>
    </div>
    {% endfor %}

    <hr>

    {% include 'footer.twig' %}
</div>
{% endblock %}
