<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ baseurl }}/web/css/style.css">
        <!--[if lt IE 9]>
        <script src="{{ baseurl }}/web/js/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block body %}{% endblock %}
        <script src="{{ baseurl }}/web/js/jquery.js"></script>
        <script src="{{ baseurl }}/web/js/bootstrap.js"></script>
        <script src="{{ baseurl }}/web/js/codemirror.js"></script>
        <script src="{{ baseurl }}/web/js/showdown.js"></script>
        <script src="{{ baseurl }}/web/js/main.js"></script>
    </body>
</html>
