<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Latest commits in {{ repo }}:{{ branch }}</title>
        <description>RSS provided by GitList</description>
        <link>{{ baseurl }}/</link>

        {% for commit in commits %}
        <item>
            <title>{{ commit.getMessage }}</title>
            <description>{{ commit.getAuthor.getName }} authored {{ commit.getShortHash }} in {{ commit.getDate | date('d/m/Y \\a\\t H:i:s') }}</description>
            <link>{{ baseurl }}/{{ repo }}/commit/{{ commit.getShortHash }}</link>
            <pubDate>{{ commit.getDate | date('r') }}</pubDate>
        </item>
        {% endfor %}
    </channel>
</rss>