{% extends 'layout_page.twig' %}

{% set page = 'files' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% embed 'breadcrumb.twig' with {breadcrumbs: breadcrumbs} %}
        {% block extra %}
            <div class="pull-right">
                <div class="btn-group download-buttons">
                    <a href="{{ path('archive', {repo: repo, branch: branch, format: 'zip'}) }}" class="btn btn-mini" title="Download '{{ branch }}' as a ZIP archive">ZIP</a>
                    <a href="{{ path('archive', {repo: repo, branch: branch, format: 'tar'}) }}" class="btn btn-mini" title="Download '{{ branch }}' as a TAR archive">TAR</a>
                </div>
                <a href="{{ path('rss', {repo: repo, branch: branch}) }}" class="rss-icon"><i class="rss"></i></a>
            </div>
        {% endblock %}
    {% endembed %}

    {% if results %}
    {% for result in results %}
    <div class="source-view">
        <div class="source-header">
            <div class="meta"><i class="icon-file icon-spaced"></i> <a href="{{ path('blob', {repo: repo, branch: branch, file: result.file, commitishPath: branch ~ '/' ~ result.file}) }}#L{{ result.line }}">{{ result.file }}</a></div>
        </div>
        {% if result.large is defined %}
        <p><a href="{{ path('blob', {repo: repo, branch: branch, file: result.file, commitishPath: branch ~ '/' ~ result.file}) }}#L{{ result.line }}">View file</a></p>
        {% else %}
        <pre class="sourcecode" language="{{ result.fileType }}" firstLineNumber="{{ result.line }}">{{ result.context|htmlentities|raw }}</pre>
        {% endif %}
    </div>
    <hr />
    {% endfor %}
    {% else %}
    <p>No results found.</p>
    {% endif %}

    <hr />
    <script> var keyword = '{{ query|raw }}'; </script>
{% endblock %}
