{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">
    <div class="row">
        <div class="span12">
            {% include 'branch_menu.twig' %}
            {% include 'menu.twig' %}
        </div>
    </div>

    <ul class="breadcrumb">
        <li><a href="{{ baseurl }}/{{ repo }}">{{ repo }}</a> <span class="divider">/</span></li>
        <li>Statistics</li>
    </ul>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="30%">File extensions ({{ stats.extensions|length }})</th>
                <th width="40%">Authors ({{ authors|length }})</th>
                <th width="30%">Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                    {% for ext, amount in stats.extensions %}
                        <li><strong>{{ ext }}</strong>: {{ amount }} files</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% for author in authors %}
                        <li><strong><a href="mailto:{{ author.email }}">{{ author.name }}</a></strong>: {{ author.commits }} commits</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <p>
                        <strong>Total files:</strong> {{ stats.files }}
                    </p>

                    <p>
                        <strong>Total bytes:</strong> {{ stats.size }} bytes ({{ ((stats.size / 1024) / 1024) | number_format }} MB)
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    {% include 'footer.twig' %}
</div>
{% endblock %}
