{% extends 'layout.twig' %}

{% block body %}
    {% include 'navigation.twig' %}

    <div class="container">
        <div class="row">
            <div class="span12">
                {% if page in ['commits', 'searchcommits'] %}
                <form class="form-search pull-right" action="{{ app.request.basepath }}/{{repo}}/commits/{{branch}}/search" method="POST">
                    <input type="text" name="query" class="input-medium search-query" placeholder="Search commits..." value="{{ query | default("") }}">
                </form>
                {% else %}
                <form class="form-search pull-right" action="{{ app.request.basepath }}/{{repo}}/tree/{{branch}}/search" method="POST">
                    <input type="text" name="query" class="input-medium search-query" placeholder="Search tree..." value="{{ query | default("") }}">
                </form>
                {% endif %}

                {% if branches is defined %}
                    {% include 'branch_menu.twig' %}
                {% endif %}

                {% include 'menu.twig' %}
            </div>
        </div>

        {% block content %}{% endblock %}

        {% include 'footer.twig' %}
    </div>
{% endblock %}
