<div class="btn-group pull-left space-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">browsing: <strong>{{ branch }}</strong> <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li class="dropdown-header">Branches</li>
        {% for item in branches %}
            <li><a href="{{ path('branch', {repo: repo, branch: item}) }}">{{ item }}</a></li>
        {% endfor %}
        {% if tags %}
        <li class="dropdown-header">Tags</li>
        {% for item in tags %}
            <li><a href="{{ path('branch', {repo: repo, branch: item}) }}">{{ item }}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
</div>